In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Data Cleaning

In [4]:
new_df = df.drop(['Pclass','Name','SibSp','Parch','Ticket','Fare','Cabin'],axis="columns")

In [5]:
new_df.shape

(891, 5)

In [6]:
new_df.head(10)

   PassengerId  Survived     Sex   Age Embarked
0            1         0    male  22.0        S
1            2         1  female  38.0        C
2            3         1  female  26.0        S
3            4         1  female  35.0        S
4            5         0    male  35.0        S
5            6         0    male   NaN        Q
6            7         0    male  54.0        S
7            8         0    male   2.0        S
8            9         1  female  27.0        S
9           10         1  female  14.0        C

In [10]:
new_df.isnull().sum()

PassengerId      0
Survived         0
Sex              0
Age            177
Embarked         2
dtype: int64

In [11]:
new_df1=new_df.dropna()

In [13]:
new_df1.size

3560

In [16]:
target = new_df1['Survived']
target.shape

(712,)

In [23]:
inputs = new_df1.drop(['Survived','PassengerId'],axis = 'columns')
inputs.head()

      Sex   Age Embarked
0    male  22.0        S
1  female  38.0        C
2  female  26.0        S
3  female  35.0        S
4    male  35.0        S

Label Encoding

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_sex = LabelEncoder()
le_embarked = LabelEncoder()

In [25]:
inputs['sex_n'] = le_sex.fit_transform(inputs['Sex'])
inputs['embarked_n'] = le_sex.fit_transform(inputs['Embarked'])

In [31]:
inputs_n = inputs.drop(['Sex','Embarked'],axis='columns')

In [32]:
inputs_n.head()

    Age  sex_n  embarked_n
0  22.0      1           2
1  38.0      0           0
2  26.0      0           2
3  35.0      0           2
4  35.0      1           2

Model Training

In [33]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [34]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [35]:
model.score(inputs_n, target)

0.8441011235955056

In [36]:
model.predict([[40,1,0]])

c:\Users\Ahmad Raza\Desktop\DS1\.venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

Model Testing

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(inputs_n, target,test_size=0.2, random_state=10)

In [39]:
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [40]:
model.score(X_test, Y_test)

0.7272727272727273

In [42]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cvv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(tree.DecisionTreeClassifier(), inputs_n, target, cv=cvv)

array([0.72027972, 0.73426573, 0.70629371, 0.7972028 , 0.62937063])